footer {
    background: #09a309;
    color: floralwhite;
    height: 96px;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 96px;
    & p {
        margin-bottom: 0;
    }
}
